<!-- Describe task in general -->

<p>Четверта місія в серії про парсинг YAML буде присвячений складній структурі.</p>

<table>
  <tr>
    <th>YAML</th>
    <th>Python/TypeScript</th>
  </tr>
  <tr>
    <td colspan="2">
      <p>Елементом {% if is_js %}масиву{% else %}списку{% endif %} може бути інший {% if is_js %}масив{% else %}список{% endif %}.</p>
    </td>
  </tr>
  <tr>
    <td>
      <pre>
        - Alex
        -
          - odessa
          - dnipro
        - Li
      </pre>
    </td>
    <td>
      <pre class="brush: python">
        [
          "Alex", 
          [
            "odessa", 
            "dnipro"
          ], 
          "Li"
        ]
        </pre>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>Словник також може бути елементом {% if is_js %}масиву{% else %}списку{% endif %}.</p>
    </td>
  </tr>
  <tr>
    <td>
      <pre>
        - 67
        -
          name: Irv
          game: Mario
        -
        - 56
      </pre>
    </td>
    <td>
      <pre class="brush: python">
        [
          67, 
          {
            "game": "Mario", 
            "name": "Irv"
          }, 
          None/null, 
          56
        ]
      </pre>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>Елементом словника може бути інший словник.</p>
    </td>
  </tr>
  <tr>
    <td>
      <pre>
        name: Alex
        study:
          type: school
          number: 78
        age: 14
      </pre>
    </td>
    <td>
      <pre class="brush: python">
        {
          "age": 14, 
          "study": {
            "type": "school", 
            "number": 78
          }, 
          "name": "Alex"
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>{% if is_js %}Масив{% else %}Список{% endif %} також може бути елементом словника.</p>
    </td>
  </tr>
  <tr>
    <td>
      <pre>
        name: Alex
        study:
          - 89
          - 89
          - "Hell"
        age: 14
      </pre>
    </td>
    <td>
      <pre class="brush: python">
        {
          "age": 14, 
          "study": [
            89, 
            89, 
            "Hell"
          ], 
          "name": "Alex"
        }
      </pre>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>І, звичайно, дані можуть мати більше одного рівня вкладеності.</p>
    </td>
  </tr>
  <tr>
    <td>
      <pre>
        name: Alex
        study:
          -
            type: school
            num: 89
          -
            type: school
            num: 12
        age: 14
      </pre>
    </td>
    <td>
      <pre class="brush: python">
        {
          "age": 14, 
          "study": [
            {
              "num": 89, 
              "type": "school"
            }, 
            {
              "num": 12, 
              "type": "school"
            }
          ], 
          "name": "Alex"
        }
      </pre>      
    </td>
  </tr>
</table>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Форматований рядок. 
</p>

<p>
    <strong>Вихідні дані:</strong> об'єкт ({% if is_js %}масив/словник{% else %}список/словник{% endif %}). 
</p>
<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
  <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумова:</strong>
    <i>Використовується стандарт YAML 1.2 .</i>
</p>
